In [5]:
import pandas as pd
import numpy as np

Android data best games

In [6]:
file_data = 'df_1.csv'

In [7]:
df = pd.read_csv(file_data, sep = ',')

In [8]:
df

,Unnamed: 0,Title,Developer(s),Publisher(s),Genre,Release date,ref
0,0,AdVenture Capitalist,Hyper Hippo Productions,Kongregate,Incremental,21 Dec 2014,NaN
1,1,AdVenture Communist,Hyper Hippo Productions,Kongregate,Incremental,16 Nov 2017,NaN
2,2,Adventures of Mana,Square Enix,Square Enix,action role-playing,4 Feb 2016,NaN
3,3,After Burner Climax,Sega AM2,Sega,"combat flight simulator,shoot 'em up",30 Mar 2013,NaN
4,4,Alien Hive,Appxplore,NaN,sliding puzzle,Mar 2013,NaN
...,...,...,...,...,...,...,...
220,220,The Walking Dead: Road to Survival,IUGO Mobile Entertainment,Scopely,action role-playing,27 Aug 2015,NaN
221,221,XCOM: Enemy Within,Firaxis Games,2K Games,strategy,13 Nov 2014,NaN
222,222,Yo-kai Watch: Wibble Wobble,Level-5,Level-5,"puzzle, role-playing",JP: 21 Oct 2015NA: 24 Mar 2016EU: 30 Mar 2017,NaN
223,223,Yu-Gi-Oh! Duel Links,Konami,Konami,card,JP: 17 Nov 2016WW: 11 Jan 2017,NaN
224,224,title,developer(s),publisher(s),genre,release date,ref

In [9]:
df.columns

Index(['Unnamed: 0', 'Title', 'Developer(s)', 'Publisher(s)', 'Genre',
       'Release date', 'ref'],
      dtype='object')

In [10]:
df.pop('Unnamed: 0')

0        0
1        1
2        2
3        3
4        4
      ...
220    220
221    221
222    222
223    223
224    224
Name: Unnamed: 0, Length: 225, dtype: int64

In [11]:
df

,Title,Developer(s),Publisher(s),Genre,Release date,ref
0,AdVenture Capitalist,Hyper Hippo Productions,Kongregate,Incremental,21 Dec 2014,NaN
1,AdVenture Communist,Hyper Hippo Productions,Kongregate,Incremental,16 Nov 2017,NaN
2,Adventures of Mana,Square Enix,Square Enix,action role-playing,4 Feb 2016,NaN
3,After Burner Climax,Sega AM2,Sega,"combat flight simulator,shoot 'em up",30 Mar 2013,NaN
4,Alien Hive,Appxplore,NaN,sliding puzzle,Mar 2013,NaN
...,...,...,...,...,...,...
220,The Walking Dead: Road to Survival,IUGO Mobile Entertainment,Scopely,action role-playing,27 Aug 2015,NaN
221,XCOM: Enemy Within,Firaxis Games,2K Games,strategy,13 Nov 2014,NaN
222,Yo-kai Watch: Wibble Wobble,Level-5,Level-5,"puzzle, role-playing",JP: 21 Oct 2015NA: 24 Mar 2016EU: 30 Mar 2017,NaN
223,Yu-Gi-Oh! Duel Links,Konami,Konami,card,JP: 17 Nov 2016WW: 11 Jan 2017,NaN
224,title,developer(s),publisher(s),genre,release date,ref